  .headerButton  {
    padding-right: 20.00px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    font-family: Montserrat, Arial;
    text-decoration: none;
    width: 78.00px;
    height: 24.00px;
}

