
 .privacyHeaderText {
  position: relative;
    font-size: 75.00px;
    font-weight: 300;
  font-style: normal;
    font-family: Montserrat, Arial;
  height: 92.00px;
  left: 171.00px;
  top: 95.00px;
  border-bottom: #fff solid 3px;
  color:#fff;
}


.privacyText {
  position: relative;
    font-size: 15.00px;
    font-weight: 300;
  font-style: normal;
    font-family: Montserrat, Arial;
  left: 171.00px;
  top: 110.00px;
  padding-bottom: 20px;
  color:#fff;
}