 html {
        height: 100%;
        width: 100%;
      }

      body {
        font-family: 'Open Sans', serif;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        -webkit-font-smoothing: antialiased;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
      }

 .homebackgroundFour {
    position: absolute;
      background-image: url("../../assets/landingPage/rectangle108.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      width: 1920.00px;
    height: 1025.00px;
    left: 0.00px;
    top: 3175.00px;
}

.homebackgroundOne {
      background-image: url("../../assets/landingPage/rectangle81.png");
      z-index:0;
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 1020px;
      width: 100%;
      top:0;
      left:0
}

.opacityBackgroundOne {
    position: absolute;
      background-image: url("../../assets/landingPage/rectangle82.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.75;
      width: 1920.00px;
    height: 1022.00px;
    left: -1.00px;
    top: 0.00px;
}

.freedomToChooseTheHomeYouLove {
    position: absolute;
      text-align: center;
      color: rgba(255, 255, 255, 1);
      font-size: 76.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Montserrat, Arial;
      border-top:#fff solid 3px;
      width: 1480.00px;
    height: 93.00px;
    left: 219.00px;
    top: 399.00px;
}

 .withALenderWhoCares {
    position: absolute;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 76.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Montserrat, Arial;
      width: 938.00px;
    height: 93.00px;
    left: 490.00px;
    top: 492.00px;

}
.buy, .refinance, .calculate{
  display: block;
  background-color: transparent;
  width: 175.00px;
height: 66.00px;  
border: #36547c solid 3px;
      box-sizing: content-box;
      opacity: 1;
      cursor: default;
      text-align: center;
      color: rgba(54, 84, 124, 1);
      font-size: 30.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Montserrat, Arial;
      transition-duration: 0.5s;
}
.buy:hover, .refinance:hover, .calculate:hover {
  transition-duration: 0.5s;
  color: rgb(255, 255, 255);
  background-color:  rgba(54, 84, 124, 1);
}
.buy {
  position: absolute;
    left: 736.00px;
    top: 833.00px;

}
.refinance {
  position: absolute;
      left: 1126.00px;
      top: 833.00px;
}
.calculate {
  position: absolute;
left: 332.00px;
top: 2668.00px;
}
.startNow3{
  position:absolute;
  left: 1583.00px;
  top: 4756px;
}
.startNow2{
  position:absolute;
  left: 1589px;
  top: 2835px;
}
.startNow{
  position:absolute;
  left: 1581px;
      top: 1794px;
}
.startNow:hover, .startNow2:hover, .startNow3:hover, .ceo:hover, .holiday:hover, .market:hover, .realEstate:hover, .resources:hover, .spotLight:hover, .technology:hover  {
  transition-duration: 0.5s;
  color: rgb(54, 84, 124, 1);
  background-color:  rgba(255, 255, 255);
}
 .startNow, .startNow2, .startNow3, .ceo, .holiday, .market, .realEstate, .resources, .spotLight, .technology  {
  display: block;
  background-color: transparent;  
  border: #fff solid 3px;
    position: relative;
      box-sizing: content-box;
      opacity: 1;
      cursor: default;
      text-align: center;
      color: rgb(255, 255, 255);
      font-size: 30.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Montserrat, Arial;
      transition-duration: 0.5s;
      width: 175.00px;
      height: 66.00px;
}
.homeSection{
  display:flex;
}
.aboutUsSection{
display:flex;
}
.calculatorSection{
  display:flex;
}
.blogSection{
  display:flex;
}
.reviewSection{
  display:flex;
}

 .homebackgroundTwo {
    position: absolute;
      box-sizing: border-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("../../assets/landingPage/rectangle88.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      width: 1920.00px;
    height: 1058.00px;
    left: 0.00px;
    top: 1035.00px;
}

 .opacityBackgroundTwo {
    position: absolute;
      background-image: url("../../assets/landingPage/rectangle89.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 0.55;
      width: 1920.00px;
    height: 1058.00px;
    left: 0.00px;
    top: 1035.00px;
}

.h2Title {
    position: absolute;
      letter-spacing: 0.00px;
      color: rgba(255, 255, 255, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 55.00px;
      font-weight: 700;
    font-style: normal;
      font-family: Montserrat, Arial;
      width: 870.00px;
    height: 67.00px;
    left: 888.00px;
    top: 1567.00px;
}

.h2Normal {
    font-weight: 400;
}

.h2Bold {
    font-weight: 900;
}

.h3Title {
    position: absolute;
    color: rgba(255, 255, 255, 1);
      text-align: center;
      color: rgba(255, 255, 255, 1);
      font-size: 55.00px;
      font-weight: 700;
    font-style: normal;
      font-family: Montserrat, Arial;
      width: 692.00px;
    height: 67.00px;
    left: 171.00px;
    top: 1833.00px;
}
.p2Top {
    position: absolute;
      text-align: left;
      color: rgba(255, 255, 255, 1);
      font-size: 25.00px;
      font-weight: 300;
    font-style: normal;
      font-family: Montserrat, Arial;
      width: 873.00px;
    height: 132.00px;
    left: 888.00px;
    top: 1654.00px;

}
.p2Bottom {
    position: absolute;
      text-align: left;
      color: rgba(255, 255, 255, 1);
      font-size: 25.00px;
      font-weight: 300;
    font-style: normal;
      font-family: Montserrat, Arial;
      width: 717.00px;
    height: 132.00px;
    left: 171.00px;
    top: 1920.00px;
}

.line10 {
    position: absolute;
      stroke: rgba(255, 255, 255, 1);
          stroke-width: 3px;
          stroke-linecap: butt;
      width: 1591px;
    height: 3px;
    left: 169.50px;
    top: 1822px;
}

 .whoHeader {
    position: absolute;
      background-image: url("../../assets/landingPage/rectangle86.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 45.00px;
    font-weight: 300;
  font-style: normal;
    font-family: Montserrat, Arial;
    padding-top: 8px;
    width: 379.00px;
    height: 85.00px;
    left: -1.00px;
    top: 982.00px;
}

 .homebackgroundThree {
    position: absolute;
      background-image: url("../../assets/landingPage/rectangle91.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      width: 1920.00px;
    height: 1054.00px;
    left: 1.00px;
    top: 2106.00px;
}

.opacityBackgroundThree {
    position: absolute;
      background-image: url("../../assets/landingPage/rectangle92.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 0.4995479881763458;
      width: 1920.00px;
    height: 1056.00px;
    left: 1.00px;
    top: 2106.00px;
}

.loanAmount {
  position: absolute;
  left: 172.00px;
    top: 2337.00px;
}
.interestRate {
  position: absolute;
  left: 172.00px;
  top: 2444.00px;
}
.loanTime {
  position: absolute;
  left: 172.00px;
    top: 2551.00px;
}
    .loanAmount, .interestRate, .loanTime {
    box-sizing: border-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    padding-left: 20.00px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(54, 85, 124, 1);
    border-bottom-style: solid;
    border-bottom-width: 2.00px;
    border-left-color: rgba(54, 85, 124, 1);
    border-left-style: solid;
    border-left-width: 2.00px;
    border-right-color: rgba(54, 85, 124, 1);
    border-right-style: solid;
    border-right-width: 2.00px;
    border-top-color: rgba(54, 85, 124, 1);
    border-top-style: solid;
    border-top-width: 2.00px;
    -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1607843137254902));
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1607843137254902));
    width: 483.00px;
  height: 69.00px;
  text-align: center;
  color: rgba(41, 79, 130, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 25.00px;
  font-weight: 300;
font-style: normal;
  font-family: Montserrat, Arial;
}

.getAPreapproaval {
    position: absolute;
      text-align: center;
      color: rgba(255, 255, 255, 1);
      font-size: 50.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Montserrat, Arial;
      width: 476.00px;
    height: 61.00px;
    left: 172.00px;
    top: 2937.00px;

}

.quickLookAtYourMonthlyPayments {
    position: absolute;
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(255, 255, 255, 1);
      font-size: 45.00px;
      font-weight: 300;
    font-style: normal;
      font-family: Montserrat, Arial;
      text-decoration: none;
      width: auto;
    height: 55.00px;
    left: 172.00px;
    top: 2231.00px;
}

.preapprovalText {
    position: absolute;
      text-align: left;
      color: rgba(255, 255, 255, 1);
      font-size: 25.00px;
      font-weight: 300;
    font-style: normal;
      font-family: Montserrat, Arial;
      text-decoration: none;
      width: 619px;
    height: 68.00px;
    left: 172.00px;
    top: 3019.00px;

}

.monthlyPayment {
  position: absolute;
  border-bottom: #fff solid 6px;
  background-color: transparent;
  text-align: center;
  color: rgba(41, 79, 130, 1);
  font-size: 25.00px;
  font-weight: 700;
  font-style: normal;
  font-family: Montserrat, Arial;
  width: 481px;
  height: 49px;
  padding-bottom: 13px;
  left: 173px;
  top: 2791.00px;
}

.calculatorHeader {
    position: absolute;
      background-color: rgba(54, 84, 124, 1);
      border-bottom-color: rgba(255, 255, 255, 1);
      border-bottom-style: none;
      border-bottom-width: 5.00px;
      border-left-color: rgba(255, 255, 255, 1);
      border-left-style: none;
      border-left-width: 5.00px;
      border-right-color: rgba(255, 255, 255, 1);
      border-right-style: none;
      border-right-width: 5.00px;
      border-top-color: rgba(255, 255, 255, 1);
      border-top-style: none;
      border-top-width: 5.00px;
      border-top-left-radius: 0.00px;
      border-top-right-radius: 45.00px;
      border-bottom-left-radius: 0.00px;
      border-bottom-right-radius: 45.00px;
      text-align: center;
      letter-spacing: 0.00px;
      color: rgba(255, 255, 255, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 45.00px;
      font-weight: 300;
    font-style: normal;
      font-family: Montserrat, Arial;
      padding-top: 8px;
      width: 775.00px;
    height: 85.00px;
    left: 0.00px;
    top: 2050.00px;

}

 .opacityBackgroundFour {
    position: absolute;
      background-image: url("../../assets/landingPage/rectangle100.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 0.4995479881763458;
      width: 1920.00px;
    height: 1025.00px;
    left: -1.00px;
    top: 3175.00px;
}
.monthlySectionLine{
border-top:#fff solid 3px;
}

.blogProfile1{
  width: 50px;
    height: 50px;
    display: block;
    z-index: 99;
    position: absolute;
    top: 3982px;
    left: 205px;
    background-image: url("../../assets/landingPage/ellipse25.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blogProfile2{
  width: 50px;
    height: 50px;
    display: block;
    z-index: 99;
    position: absolute;
    top: 3982px;
    left: 744px;
    background-image: url("../../assets/landingPage/ellipse24.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blogProfile3{
  width: 50px;
    height: 50px;
    display: block;
    z-index: 99;
    position: absolute;
    top: 3982px;
    left: 1275px;
    background-image: url("../../assets/landingPage/ellipse23.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 .rectangle106 {
    position: absolute;
    background-image: url("../../assets/landingPage/rectangle106.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 512.00px;
    height: 375.00px ;
    left: 169.00px;
    top: 3467.00px;
}
 .rectangle103 {
  position: absolute;
  opacity: 0.6499999761581421;
  background-color: rgba(255, 255, 255, 1);
  width: 512.00px;
  height: 208.00px;
  left: 169.00px;
  top: 3831.00px;
}
 .rectangle105 {
  position: absolute;
  background-image: url("../../assets/landingPage/rectangle105.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 512.00px;
  height: 375.00px;
  left: 708.00px;
  top: 3467.00px;
}

.rectangle102 {
  position: absolute;
    opacity: 0.6499999761581421;
    background-color: rgba(255, 255, 255, 1);
    width: 512.00px;
  height: 208.00px;
  left: 708.00px;
  top: 3831.00px;
}
.rectangle104 {
  position: absolute;
    background-image: url("../../assets/landingPage/rectangle104.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    width: 512.00px;
  height: 375.00px;
  left: 1248.00px;
  top: 3467.00px;
}
.rectangle101 {
  position: absolute;
    opacity: 0.6499999761581421;
    background-color: rgba(255, 255, 255, 1);
    width: 512.00px;
  height: 208.00px;
  left: 1248.00px;
  top: 3831.00px;
}

.ceo{
  position: absolute;
  left: 169.00px;
  top: 3320.00px;
}
.holiday{
  position: absolute;
  left: 359.00px;
  top: 3320.00px;
}
.market{
  position: absolute;
  left: 549.00px;
  top: 3320.00px;
}
.realEstate{
  position: absolute;
  left: 739.00px;
  top: 3320.00px;
}
.resources{
  position: absolute;
  left: 929.00px;
  top: 3320.00px;
}
.spotLight{
  position: absolute;
  left: 1119.00px;
    top: 3320.00px;
}
.technology{
  position: absolute;
  left: 1309.00px;
    top: 3320.00px;
}

.blogTitle1{
  position: absolute;
  left: 201.00px;
  top: 3850.50px;
}
.blogTitle2{
  position: absolute;
  left: 740.00px;
    top: 3850.50px;
}
.blogTitle3{
  position: absolute;
  left: 1270.00px;
    top: 3850.50px;
}
.blogTitle1, .blogTitle2, .blogTitle3 {
      text-align: left;
      line-height: 28.00px;
      letter-spacing: 0.00px;
      color: rgba(54, 84, 124, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 25.00px;
      font-weight: 700;
    font-style: normal;
      font-family: 'Helvetica Neue', Arial;
      width: 455.00px;
    height: 39.00px;
}
.authorDate1{
  position: absolute;
  left: 276.00px;
    top: 3981px;
}
.authorDate2{
  position: absolute;
  left: 815.00px;
  top: 3981px;
}
.authorDate3{
  position: absolute;
  left: 1345.00px;
  top: 3981px;
}
.blogtext1 {
  position: absolute;
  left: 201.00px;
  top: 3883.00px;
}
.blogtext2 {
  position: absolute;
  left: 740.00px;
    top: 3883.00px;
}
.blogtext3 {
  position: absolute;
  left: 1270.00px;
  top: 3883.00px;
}
 .blogtext1, .blogtext2, .blogtext3 {
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(54, 84, 124, 1);
      font-size: 15.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Montserrat, Arial;
      width: 480.00px;
    height: 77.00px;
}

.blogHeader {
    position: absolute;
      background-color: rgba(54, 84, 124, 1);
      border-bottom-color: rgba(255, 255, 255, 1);
      border-bottom-style: none;
      border-bottom-width: 5.00px;
      border-left-color: rgba(255, 255, 255, 1);
      border-left-style: none;
      border-left-width: 5.00px;
      border-right-color: rgba(255, 255, 255, 1);
      border-right-style: none;
      border-right-width: 5.00px;
      border-top-color: rgba(255, 255, 255, 1);
      border-top-style: none;
      border-top-width: 5.00px;
      border-top-left-radius: 0.00px;
      border-top-right-radius: 45.00px;
      border-bottom-left-radius: 0.00px;
      border-bottom-right-radius: 45.00px;
      text-align: center;
      letter-spacing: 0.00px;
      color: rgba(255, 255, 255, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 45.00px;
      font-weight: 300;
    font-style: normal;
      font-family: Montserrat, Arial;
      padding-top: 8px;
      width: 630.00px;
    height: 85.00px;
    left: 1.00px;
    top: 3119.00px;
}

.homebackgroundFive {
    position: absolute;
      background-image: url("../../assets/landingPage/rectangle110.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      width: 1920.00px;
    height: 1025.00px;
    left: -3.00px;
    top: 4215.00px;
}

 .opacityBackgroundFive {
    position: absolute;
      background-image: url("../../assets/landingPage/rectangle113.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 0.6;
      width: 1920.00px;
      height: 896px;
      left: -3.00px;
      top: 4213px;

}

.h4Title {
    position: absolute;
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(255, 255, 255, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 50.00px;
      font-weight: 700;
    font-style: normal;
      font-family: Montserrat, Arial;
      width: 634.00px;
    height: 122.00px;
    left: 167.00px;
    top: 4945.00px;
}

.web19201 .component627 {

      display: block;
      position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 175.00px;
    height: 66.00px;
    left: 1583.00px;
    top: 4945.00px;

}

.web19201 .component627 .path1 {
    position: absolute;
      box-sizing: border-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      fill: transparent;
      stroke: rgba(255, 255, 255, 1);
          stroke-width: 2.00px;
          stroke-linecap: butt;
      box-shadow: none;
      width: 175.00px;
    height: 66.00px;
    left: 0.00px;
    top: 0.00px;

}

.web19201 .component627 .startNow {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0.00px;
      color: rgba(255, 255, 255, 1);
      -webkit-text-stroke: 1.00px rgba(112, 112, 112, 1);
      font-size: 30.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Montserrat, Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 150.00px;
    height: 37.00px;
    left: 12.00px;
    top: 15.00px;

}

.web19201 .rectangle114 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 0.8500000238418579;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 1);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 50.00px;
      border-top-right-radius: 0.00px;
      border-bottom-left-radius: 0.00px;
      border-bottom-right-radius: 50.00px;
      box-shadow: none;
      width: 1065.00px;
    height: 544.00px;
    left: 168.00px;
    top: 4297.00px;

}

.web19201 .andyWentOverAndAboveToMakeSureThatWeHadTheBestPossibleExperienceWithOurMortgageFromTheMomentWeStartedWorkingWithHimHeWasInConstantContactEnsuringThatWeHadTheBestRateAndAnsweringAnyAndAllQuestionsWeCouldThrowH {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(54, 84, 124, 1);
      -webkit-text-stroke: unset;
      font-size: 30.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Montserrat, Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 901.00px;
    height: 360.00px;
    left: 249.00px;
    top: 4368.00px;

}

.web19201 .group6 {

      display: block;
      position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 163.00px;
    height: 17.00px;
    left: 578.00px;
    top: 4802.00px;

}

.web19201 .group6 .ellipse15 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      fill: rgba(54, 84, 124, 1);
      stroke: rgba(0, 0, 0, 0);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      box-shadow: none;
      width: 19.00px;
    height: 19.00px;
    left: -1.00px;
    top: -1.00px;

}

.web19201 .group6 .ellipse16 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      fill: rgba(54, 84, 124, 1);
      stroke: rgba(0, 0, 0, 0);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      box-shadow: none;
      width: 19.00px;
    height: 19.00px;
    left: 34.00px;
    top: -1.00px;

}

.web19201 .group6 .ellipse17 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      fill: rgba(255, 255, 255, 1);
      stroke: rgba(0, 0, 0, 0);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      box-shadow: none;
      width: 19.00px;
    height: 19.00px;
    left: 72.00px;
    top: -1.00px;

}

.web19201 .group6 .ellipse18 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      fill: rgba(54, 84, 124, 1);
      stroke: rgba(0, 0, 0, 0);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      box-shadow: none;
      width: 19.00px;
    height: 19.00px;
    left: 109.00px;
    top: -1.00px;

}

.web19201 .group6 .ellipse19 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      fill: rgba(54, 84, 124, 1);
      stroke: rgba(0, 0, 0, 0);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      box-shadow: none;
      width: 20.00px;
    height: 19.00px;
    left: 144.00px;
    top: -1.00px;

}

.reviewHeader {
    position: absolute;
      background-color: rgba(54, 84, 124, 1);
      border-bottom-color: rgba(255, 255, 255, 1);
      border-bottom-style: none;
      border-bottom-width: 5.00px;
      border-left-color: rgba(255, 255, 255, 1);
      border-left-style: none;
      border-left-width: 5.00px;
      border-right-color: rgba(255, 255, 255, 1);
      border-right-style: none;
      border-right-width: 5.00px;
      border-top-color: rgba(255, 255, 255, 1);
      border-top-style: none;
      border-top-width: 5.00px;
      border-top-left-radius: 0.00px;
      border-top-right-radius: 45.00px;
      border-bottom-left-radius: 0.00px;
      border-bottom-right-radius: 45.00px;
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(255, 255, 255, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 45.00px;
      font-weight: 300;
    font-style: normal;
      font-family: Montserrat, Arial;
      padding-top: 8px;
      width: 596.00px;
    height: 85.00px;
    left: -1.00px;
    top: 4157.00px;
}